.vertical-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

/* html {
    font-size: 62.5%;
} */


.row {
    display: flex;
    width: 100%;
}

.checkInCalendar {
  display: flex;
  position: fixed;
  top: 25px;
  left: 140px;
  z-index: 6;
}

.checkOutCalendar {
  display: flex;
  position: fixed;
  top: 25px;
  left: 320px;
}


.calendar {
  display: block;
  background-color:white;
  z-index: 2;
  width: 250px;
  border: solid 1px #CCCCCC;
  margin: 10px auto;
  box-shadow: 0 0 15px 0 #C0C0C0;
  /* font-size: 0.8rem; */
  text-align: center;
}

.calendar header {
  color: black;
  cursor: default;
  font-size:0.9rem;
  display: block;
  /* font-weight: bold; */
  text-transform: uppercase;
  user-select: none;
}

.calendar header .monthDisplay {
  align-items: center;
  height: 30px;
  background: white;
  display: flex;
  justify-content: space-between;
}

.calendar header .monthLabel {
  flex: 1;
  text-transform: capitalize;
}

.calendar header .arrowLeft {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s;
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar header .arrowRight {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s;
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar header .arrow:hover {
  background: #CCCCCC
}


.calendar .week {
  /* border-top: solid 1px #CCCCCC */
}


.calendar .days {
  flex: 1;
  height: 25px;
  cursor: pointer;
  transition: all .2s;
  font-size: 0.8rem;
}

.calendar .outDays {
  flex: 1;
  height: 25px;
  cursor: pointer;
  transition: all .2s;
  font-size: 0.8rem;
}

.calendar .days:hover {
  background: rgb(113, 177, 129);
}

.calendar .outDays:hover{
  background: red;
}

.calendar .days:first-child {
  border-left:none;
}

.calendar .outDays:first-child {
  border-left:none;
}

.calendar .days.today {
  background: white;
  color: rgb(113, 177, 129);
}

.calendar .days.differentMonth {
  background: white;
  color: gray;
}

.calendar .dayNames {
  display: flex;
  /* width: 100%; */
  color: black;
  cursor: default;
  font-size: 0.6rem !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.calendar .dayNames .day {
  cursor: default;
}

.calendar .dayNames .day:hover {
  background: inherit;
}
.selection {
  background: white;
  border: 1px solid rgb(113, 177, 129) !important;
  color: black;
  font-weight: bold;
}

.selectDateOne {
  border-bottom: 0.5px solid gray;
  text-align: right;
  z-index: 6;
  background: white;
  padding-right: 3px;
}

.selectDateTwo {
  border-bottom: 0.5px solid gray;
  text-align: left;
  padding-left: 3px;
}

