.vertical-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

/* html {
    font-size: 62.5%;
} */

body {
    background: #EFEFEF;
}

.row {
    display: flex;
    width: 100%;
}

.calendar {
    display: block;
    background:white;
    width: 300px;
    border: solid 1px #CCCCCC;
    margin: 10px auto;
    box-shadow: 0 0 15px 0 #C0C0C0;
    font-size: 1.2rem;
    text-align: center;

    header {
        .vertical-center;
        color: black;
        cursor: default;
        font-size:1.2rem;
        display: block;
        /* font-weight: bold; */
        text-transform: uppercase;
        user-select: none;
        
        .month-display {
            align-items: center;
            height: 40px;
            background: white;
        }

        .month-label { 
           flex: 1;
        }
      
        .arrow {
            text-align: center;
            flex-basis: 15%;
            font-weight: bold;
            cursor: pointer;
            transition: background .2s;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          
            &:hover {
                background: #CCCCCC;
            }
        }
    }
  
    .week {
        border-top: solid 1px #CCCCCC;
    }
  
    .day-names {
        color: black;
        /* font-weight: bold; */
        cursor: default;
        font-size: 0.9rem;
        
        .day {
            cursor: default;
            
            &:hover {
                background: inherit;

            }
        }
    }
  
    .day {
        .vertical-center;
        flex: 1;
        height: 35px;
        border-left: solid 1px #CCCCCC;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background: rgb(113, 177, 129);
        }

        &:first-child {
            border-left:none;
        }

        &.today {
            background: #EFEFEF;
        }

        &.different-month {
            color: #C0C0C0;
        }

        &.selected {
            background: white;
            border: 1px solid rgb(113, 177, 129);
            color: black;
        }
    }
}

.viewDeal {
  display: flex;
  justify-content: center;
  justify-items: right;
  align-content: center;
  align-items: center;
  background: rgb(255, 217, 0);
  color: black;
  width: 90px;
  height: 47px;
  border: solid 1px rgb(260, 217, 0);
}

.viewDealText {
  font-weight: bold;
  font-size: 12px;
}

.siteDisplay {
  display: flex;
  justify-content: space-between;
}

.siteModule {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: solid .5px gray;
  border-radius: 1px;
  margin: 3px;
}

.siteBoxes {
  display: flex wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 175px;
}

.checkInOut {
  display: flex;
  align-content: center;
  align-items: center;
}

.checkIn {
  padding: 5px;
}

.checkInBoxOpen {
  width: 500px;
  font-size: 10px;
  border: solid 1px rgb(113, 177, 129);
  border-radius: 3px;
  padding: 5px;
}

.checkInBoxClosed {
  width: 500px;
  font-size: 10px;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 5px;
}

.checkOut {
  padding: 5px;
}

.checkOutBoxOpen {
  width: 500px;
  font-size: 10px;
  border: solid 1px orange;
  border-radius: 3px;
  padding: 5px;
}

.checkOutBoxClosed {
  width: 500px;
  height: 50px;
  font-size: 10px;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 5px;
}

.sitePrice {
  padding: 10px;
}

.otherPrices {
  display: flex;
  color: blue;
  font-size: 10px;
}

.guestSelectorBox {
  border: solid .5px gray;
  border-radius: 3px;
  width: 300px;
}

.guests {
  font-size: 12px;
  color: gray;
}