.wrapper {
  /* display: flex; */
  text-align: center;
  border: solid 1px #CCCCCC;
  width: 320px;
  padding: 5px;
}


.viewDeals {
  display: flex;
  justify-content: center;
  justify-items: right;
  align-content: center;
  align-items: center;
  background: rgb(255, 217, 0);
  color: black;
  width: 90px;
  height: 47px;
  border: solid 1px rgb(260, 217, 0);
}


.viewDealText {
  font-weight: bold;
  font-size: 12px;
}

.siteDisplay {
  display: flex;
  justify-content: space-between;
}

.siteModule {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: solid .5px gray;
  border-radius: 1px;
  margin: 3px;
}

.siteBoxes {
  display: flex wrap;
  justify-items: center;
  justify-content: space-between;
  align-content: space-between;
  height: 175px;
}

.checkInOut {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.checkIn {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.checkInBoxOpen {
  display: inline-block;
  align-content: center;
  width: 120px;
  font-size: 12px;
  border: solid 1px rgb(113, 177, 129);
  border-radius: 3px;
  padding: 5px;
}

.checkInBoxClosed {
  display: inline-block;
  align-content: center;
  width:120px;
  font-size: 12px;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 5px;
  /* margin-bottom: 50px; */
}

.checkInColorBox {
  display: inline-block;
  background: green;
  width: 10px;
  height: 35px;
  border-radius: 3px;
}

.checkOutColorBox {
  display: inline-block;
  background: red;
  width: 10px;
  height: 35px;
  border-radius: 3px;
}

.checkOut {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.checkOutBoxOpen {
  display: inline-block;
  align-content: center;
  width: 120px;
  font-size: 12px;
  border: solid 1px red;
  border-radius: 3px;
  padding: 5px;
}

.checkOutBoxClosed {
  display: inline-block;
  align-content: center;
  width: 120px;
  font-size: 12px;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 5px;
  /* margin-top: 50px; */
}

.sitePrice {
  padding: 10px;
}

.otherPrices {
  display: flex;
  color: blue;
  font-size: 10px;
}

.guestSelectorBox {
  display: flex;
  justify-content: flex-start;
  border: solid .5px gray;
  border-radius: 3px;
  width: 300px;
}

.guests {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
}

.guestList {
  display: flex;
  font-size: 12px;
  font-weight: bold;
}

.viewingHotel {
  display: flex;
  justify-content: center;
  color: red;
}

.updateButton {
  background: green;
  color: white;
  width: 200px;
}

.plusMinusButtons {
  background: white;
  color: green;
}

.modalButtons {
  display: inline-block;
  justify-content: center;
  justify-items: center;
}