/* .wrapper {
  display: flex;
  text-align: center;
  border: solid 1px #CCCCCC;
  width: 320px;
  padding: 5px;
} */

.viewingHotel {
  display: block;
  color: red;
  padding-left: 25px;
  padding-bottom: 20px;
}

.viewDeals {
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-items: right;
  align-content: center;
  align-items: center;
  background: rgb(255, 217, 0);
  color: black;
  width: 90px;
  height: 47px;
  border: solid 1px rgb(260, 217, 0);
}


.viewDealText {
  font-weight: bold;
  font-size: 12px;
}

.siteDisplay {
  display: flex;
  justify-content: space-between;
}

.siteModule {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: solid .5px gray;
  border-radius: 1px;
  margin: 3px;
}

.siteBoxes {
  display: flex wrap;
  justify-items: center;
  justify-content: space-between;
  align-content: space-between;
  height: 175px;
}

.checkInOut {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.checkIn {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.checkInDiv {
  position: relative;
}

.checkInBoxOpen {
  cursor: pointer;
  position: relative;
  display: inline-block;
  align-content: center;
  width: 90%;
  font-size: 12px;
  border: solid 1px rgb(113, 177, 129);
  border-radius: 3px;
  padding: 5px;
}

.checkInBoxClosed {
  cursor: pointer;
  position: relative;
  display: inline-block;
  align-content: center;
  width: 90%;
  font-size: 12px;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 5px;
  /* margin-bottom: 50px; */
}

.checkInColorBox {
  position: absolute;
  display: inline-block;
  background: green;
  width: 7px;
  height: 100%;
  border-radius: 3px;
}

.checkOutColorBox {
  position: absolute;
  display: inline-block;
  background: red;
  width: 7px;
  height: 100%;
  border-radius: 3px;
}

.checkOut {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.checkOutDiv {
  position: relative;
}

.checkOutBoxOpen {
  cursor: pointer;
  position: relative;
  display: inline-block;
  align-content: center;
  width: 90%;
  font-size: 12px;
  border: solid 1px red;
  border-radius: 3px;
  padding: 5px;
}

.checkOutBoxClosed {
  cursor: pointer;
  position: relative;
  display: inline-block;
  align-content: center;
  width: 90%;
  font-size: 12px;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 5px;
}

.checkIcons {
  margin-left: 5px;
}

.sitePrice {
  padding: 10px;
}

.otherPrices {
  cursor: pointer;
  display: flex;
  color: blue;
  font-size: 10px;
  width: 320px;
}

.otherPrices .otherPricesColumnOne {
  padding-left: 10px;
  text-align: left;
}

.otherPrices .otherPricesColumnTwo {
  text-align: right;
  padding-left: 75px;
}

.guestSelectorBox {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  border: solid .5px gray;
  border-radius: 3px;
  width: 300px;
}

.guests {
  font-size: 10px;
  padding: 5px;
}

.guestList {
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
}


.updateButton {
  cursor: pointer;
  background: rgb(0, 128, 85);
  color: white;
  width: 200px;
  margin-left: 10px;
  border-radius: 3px;
  border: solid rgb(0, 128, 85) 1px;
}

.plusMinusButtons {
  cursor: pointer;
  background: white;
  color: green;
  height: 20px;
  border: solid 0.1px gray;
  font-size: 20px;
}

.modalButtons {
  display: flex wrap;
  /* justify-content: space-between;
  justify-items: space-between;
  align-items: space-between;
  align-content: space-between; */
}

.guestNumbers {
  display: flex;
  justify-content: space-between;
  background: white;
  border: solid 1px gray;
  width: 100px;
}

.roomsLine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5px;
  padding: 5px;
  margin-top: 5px;
}

.roomsColumnTwo {
  text-align: right;
  padding-right: 5px;
  padding-right: 5px;
}
.adultsLine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5px;
  padding: 5px;
}

.adultsColumnTwo {
  text-align: right;
  padding-right: 5px;
}
.childrenLine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5px;
  padding: 5px;
}

.childrenColumnTwo {
  text-align: right;
  padding-right: 5px;
}

.guestModal {
  position: fixed;
  display: block; 
  width: 220px; 
  height: 25%;
  top: 50px; 
  left: 320px;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2; 
  cursor: pointer;
  border: solid 1px gray
}